.Renter{
    max-width: 1600px;
    margin: 0 auto;
    height: 100vh;
}

.Renter_header{
    padding-top: 90px;
    padding-right: 40px;
    padding-left: 40px;
}

.body_Renter_table{
    padding: 40px;
}

.Renter_table{
    box-shadow: 0px 0px 4px 0px rgba(96, 93, 93, 0.3);
    border-radius: 10px;

}

.Renter_Search{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}